/*
Error: Invalid CSS after ":": expected pseudoclass or pseudoelement, was " .border-style"
        on line 9 of D:\Workspace\daiyantang\css\home.scss

4: }
5: 
6: .part {
7:     .interaction {
8:         ul {
9:             @extend: .border-style;
10:         }
11:     }
12: }

Backtrace:
D:\Workspace\daiyantang\css\home.scss:9
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:277:in `pseudo'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:154:in `simple_selector_sequence'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:112:in `selector'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/parser.rb:1079:in `expr!'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/scss/static_parser.rb:20:in `parse_selector'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:250:in `visit_extend'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:369:in `_render_with_sourcemap'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:286:in `render_with_sourcemap'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
D:/˼UI-WEBѵ/kaola/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
D:/˼UI-WEBѵ/kaola/Koala/bin/sass:18:in `load'
D:/˼UI-WEBѵ/kaola/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \":\": expected pseudoclass or pseudoelement, was \" .border-style\"\A         on line 9 of D:\Workspace\daiyantang\css\home.scss\A \A 4: }\A 5: \A 6: .part {\A 7:     .interaction {\A 8:         ul {\A 9:             @extend: .border-style;\A 10:         }\A 11:     }\A 12: }"; }
