$font-color: #c73682;
$title-color: #fff;
$list-style: none;
$margin: 0 auto;
$padding: 0;
$flex: flex;
$-webkit-flex: -webkit-flex;
$bg-color: rgba(0, 10, 2, 0.9); 

.border-interaction-ul {
  padding: 10px 0 10px 0;
  justify-content: space-between;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  width: 100%;
}
ul {
  padding: $padding;
}
a {
  text-decoration: none;
  color: $font-color;
}
a:hover {
  text-decoration: none;
  color: $title-color;
}
ul li {
  list-style: $list-style;
  padding: $padding;
  margin: 0;
}

body {
  margin: $margin;
  padding: $padding;
  background: $bg-color;
}

#containPage {
  margin: $margin;
  padding: $padding;
  .header {
    width: 100%;
    .nav-title {
      display: $flex;
      flex-flow: row;
      flex-wrap: wrap;
      padding: 10px 100px 0 100px;
      // border: 1px solid blue;
      .logo-wite {
        // padding: 10px 0 10px 0;
      }
      .nav-text {
        color: $font-color;
        font-size: 36px;
        margin: 0;
        padding: $padding;
        top: 10px; 
      }
      .nav-list {
        padding: $padding;
        ul {
          margin-top: 2%;
          display: $flex;
          display: $-webkit-flex;
          flex-flow: row;
          flex-wrap: wrap;
          li {
            color: $font-color;
            width: auto;
            font-size: 1.2em;
            text-align: right;
            margin: 5px auto;
            a {
              // display: block;
              width: auto;
              color: $font-color;
              text-decoration: none;
            }
            a:hover {
              color: $title-color;
              border-bottom: 1.5px solid rgba(255,255,255,0.8);
              padding-bottom: 5px;
            }
          }
      }
      
      }
    }
  }
  section {
    padding: 10px 100px 0 100px;

    .part {
      h3 {
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
        color: $title-color;
        margin-top: 2em;
      }
      /* 品牌互动 */
      .interaction {
        ul {
          @extend .border-interaction-ul;
          // overflow: hidden;
          li {
            padding: 10px 0 20px 0;
            h4 {
              margin-top: 20px;
              color: $title-color;
            }
            p {
              color: #fffeee;
              font-size: 16px;
            }
          }
        }
      }
      .product-details {
        padding: $padding;
        aside {
          padding: $padding;
          overflow: hidden;
          ul {
            li {
              display: $flex;
              height: 50px;
              a {
                display: inline-block;
                text-align: center;
                font-size: 16px;
                width: 100px;
                height: 40px;
                line-height: 40px;
              }
              }
              li:hover {
                a {
                  background: $font-color;
                  color: $title-color;
                  border-radius: 5px;
                  text-align: center;                 
                }

                span {
                  display: inline-block;
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  border-style: dashed dashed dashed solid;
                  border-radius: 3px;
                  border-width: 10px;
                  border-color: transparent transparent transparent $font-color;
                  left: 100px;
                  margin-top: 10px;
                }
              }
            }
          }
        }
        article {
          padding: $padding;
          height: auto;
          ul {
            li {
              display:none;
            }
            li:target {
              display:block;
              position: absolute;
            }
          }
        }
      }
      .product-sail {
        ul {
          display: $flex;
          display: $-webkit-flex;
          flex-flow: row;
          flex-wrap: wrap;
        }
        .product {
          padding: 20px 0 0 0;
          .pro-first:hover .model-bg{
            cursor: pointer;
            z-index: 0;
          }
          .pro-first {
            position: relative;
            overflow: hidden;
            background-position: center;
            .model-bg {
              position: absolute;
              margin: auto;  
              bottom: 0; right: 0; 
              z-index: -1;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              background-color: rgba(10, 10, 20, .4);
              h4 {
                color: $font-color;
                height: 100%;
              }
              p {
                font-size: 3em;
                color: #fff;
                margin-top: 3em;
              }
            } 
          }
          
        }
        .pro-right {
          padding: 0;
          div {
            float:left;
            margin: 20px 0 0 20px;
            padding-left: 0;
            width: 31%;
        }
        }
      }
    }
  .brand-interaction {
    .interaction {
      ul {
        li {
          cursor: pointer;
          overflow: hidden;
          img {
            transition: all 0.6s;
          }
          img:hover {
            -webkit-transform: scale(1.05);
               -moz-transform: scale(1.05);
                -ms-transform: scale(1.05);
                     transform: scale(1.05);
            opacity: 1.2;
          }
        }
      }
    }
  }
  footer {
    padding: 10px 100px 0 100px;
    background: rgba(220, 220, 225, .5);
    .partners ul {
      display: $flex;
      flex-flow: row;
      flex-wrap: wrap;
      li {
        padding-right: 10px;
      }
    }
    .tellme {
      textarea {
        width: 100%;
        resize: none;
        height: 200px;
        rows: 50;
      }
      .btn-primary {
        width: 100%;
        height: 30px;
        border-radius: 5px;
        margin-top: 10px;
        border: none;
      }
    }
    }
    .copyright {
        background: rgba(10, 0, 0, .7);
      p {
        text-align: center;
        color: $title-color;
        margin-top: 10px;
        height: 30px;
        line-height: 30px;
        padding: $padding;
        a {
          color: #45a;
        }
      }
  }
}

// 进入动画设置
.enter-top {
    animation: enter-top .3s ease-in;
}
.enter-bottom {
    animation: enter-bottom .3s ease-in;
}
.enter-left {
    animation: enter-left .3s ease-in;
}
.enter-right {
    animation: enter-right .3s ease-in;
}
.leave-top {
    animation: leave-top .3s ease-out;
}
.leave-bottom {
    animation: leave-bottom .3s ease-out;
}
.leave-left {
    animation: leave-left .3s ease-out;
}
.leave-right {
    animation: leave-right .3s ease-out;
}

/*动画定义*/
@keyframes enter-top {
    from {
        transform: translate3d(0,-100%,0);
        z-index: 0
    }
    to {
        transform: translate3d(0,0,0);
        z-index: 0
    }
}
@keyframes enter-right {
    from {
        transform: translate3d(100%,0,0);
        z-index: 0
    }
    to {
        transform: translate3d(0,0,0);
        z-index: 0
    }
}
@keyframes enter-bottom {
    from {
        transform: translate3d(0,100%,0);
        z-index: 0
    }
    to {
        transform: translate3d(0,0,0);
        z-index: 0
    }
}
@keyframes enter-left {
    from {
        transform: translate3d(-100%,0,0);
        z-index: 0
    }
    to {
        transform: translate3d(0,0,0);
        z-index: 0
    }
}
@keyframes leave-top {
    from {
        transform: translate3d(0,0,0);
        z-index: 0
    }
    to {
        transform: translate3d(0,-100%);
        z-index: -1
    }
}
@keyframes leave-right {
    from {
        transform: translate3d(0,0,0);
        z-index: 0
    }
    to {
        transform: translate3d(100%,0,0);
        z-index: -1
    }
}


@keyframes leave-bottom {
    from {
        transform: translate3d(0,0,0);
        z-index: 0
    }
    to {
        transform: translate3d(0,100%,0);
        z-index: -1
    }
}
@keyframes leave-left {
    from {
        transform: translate3d(0,0,0);
        z-index: 0
    }
    to {
        transform: translate3d(-100%,0,0);
        z-index: -1
    }
}